/* --------------------------------------------------------------- */
/* -- Copyright (c) 1994, 1995 Computer Sciences Department,    -- */
/* -- University of Wisconsin-Madison, subject to the terms     -- */
/* -- and conditions given in the file COPYRIGHT.  All Rights   -- */
/* -- Reserved.                                                 -- */
/* --------------------------------------------------------------- */

CMNT
CMNT begin config/local.tmpl
CMNT
CMNT You can override anything in Project.tmpl
CMNT by creating a "local.tmpl" in the directory
CMNT in which you run "make" or in that directory's 
CMNT parent.
CMNT
CMNT .tmpl files are meant for MACRO definitions ONLY,
CMNT whether CPP macros or Make macros
CMNT
CMNT .rules files are for defining Make rules that are
CMNT parsed by Make at the time the file is read.
CMNT The distinction here is necessary because of the fluky
CMNT rules Make has for expanding macros, specifically,
CMNT macros in the target portion of a rule are expanded
CMNT immediately, with the value of the macro at the time the
CMNT rule is parsed.  Macros in the dependency and command 
CMNT parts of rules are expanded on a 2nd pass, and given
CMNT the value at the time the rule is used.
CMNT 
CMNT
CMNT (This template file is deliberately left empty except
CMNT for comments.)
CMNT
CMNT end config/local.tmpl
CMNT
