/* --------------------------------------------------------------- */
/* -- Copyright (c) 1994, 1995 Computer Sciences Department,    -- */
/* -- University of Wisconsin-Madison, subject to the terms     -- */
/* -- and conditions given in the file COPYRIGHT.  All Rights   -- */
/* -- Reserved.                                                 -- */
/* --------------------------------------------------------------- */

LDFLAGS = 

/*    KERBEROS */

KRBFLAGS = -UUSE_KRB
KRBINCL = 
KRBLIB =


LOCAL_LDFLAGS = $(TRANSPORT_LIB)
