/* --------------------------------------------------------------- */
/* -- Copyright (c) 1994, 1995 Computer Sciences Department,    -- */
/* -- University of Wisconsin-Madison, subject to the terms     -- */
/* -- and conditions given in the file COPYRIGHT.  All Rights   -- */
/* -- Reserved.                                                 -- */
/* --------------------------------------------------------------- */


SUBDIRCOMMANDS = install clean_install clean_symlinks symlinks add 

#define SHCMDSRC  grep -h "^SRCS" Makefile.template | sed -e "s/^SRCS.*=//"
#define SHCMDSDL  grep -h "^SDLFILES" Makefile.template | sed -e "s/^SDLFILES.*=//"
#define SHCMDEXEC grep -h "^EXECS" Makefile.template | sed -e "s/^EXEC.*=//"
#ifdef GNU_MAKE
OPTIONS += --no-print-directory
SRCS = $(shell SHCMDSRC)
SDLFILES = $(shell SHCMDSDL)
EXECS = $(shell SHCMDEXEC)
#else
SRCS:sh= SHCMDSRC
SDLFILES:sh= SHCMDSDL
EXECS:sh= SHCMDEXEC
#endif

OBJS = $(SRCS:.C=.o) 
ALLTARGETS=

