#ifndef __DOCUMENTATION_LOCAL_TMPL_
#define __DOCUMENTATION_LOCAL_TMPL_
#
CMNT begin releasedoc/local.tmpl
#
DOCU = $(TOP)/releasedoc

ALLTARGETS = 
NEWSUFFIXES =

HTMLDIR   = $(DOCU)/docs/man
PSDIR     = $(DOCU)/ps
MANDIR    = $(DOCU)/man

CMNT MANPSG.cmd MUST BE DEFINED HERE:
MANPGS.cmd = find . -name "*.$(CATEGORY)" -print

MANTOOLS  = $(DOCU)/troffman.sty $(DOCU)/local.tmpl

#ifdef statistics
#undef statistics
#endif

#define spellman(target)                                        @@\
CMNT _spellman_                                                 @@\
NEWSUFFIXES += .spell                                           @@\
clean::                                                         @@\
    -$(RM) -f *.spell                                           @@\
spell: checkmake target $(DOCU)/ispell_words                   @@\
%.spell:                                                       @@\
    cat $(*F) | \                                              @@\
    ispell -a -n -B -w "_" -l -p$(DOCU)/ispell_words | \       @@\
        sort -u > $(*F).spell

#define spelltex                                               @@\
CMNT _spelltex_                                                @@\
NEWSUFFIXES += .spell                                          @@\
clean::                                                        @@\
    -$(RM) -f *.spell                                          @@\
spell: checkmake $(TARG.spell) $(DOCU)/ispell_words                   @@\
.tex.spell:                                                    @@\
    cat $(*F).tex | \                                          @@\
    ispell -a -t -B -w "_" -l -p$(DOCU)/ispell_words |\        @@\
        sort -u > $(*F).spell



#
CMNT end releasedoc/local.tmpl
#
#endif /*__DOCUMENTATION_LOCAL_TMPL_*/

